*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

section{
    width: 100%;
    height: 100vh;
    background-color: rgb(178, 225, 216);
    display: flex;
    justify-content: center;
    align-items: center;
}

section .cont{
    width: 80%;
    height: 60%;
    margin: auto;

}
section .cont .box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .cont .box .info{
    width: 30%;
    height: 100%;
    background-color: aliceblue;
    border-radius: 10px;
}
section .cont .box .info .imgs{
    width: 100%;
    height: 70%;
}
section .cont .box .info .imgs img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}
section .cont .box .info p{
    font-size: 20px;
    text-align: center;

}
section .cont .box .info h3{
    font-size: 30px;
    text-align: center;
}

.count{
    width: 100%;
    height: 60vh;
    background-color:  rgb(205, 234, 229);

}

.count .serves{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
}
.count .serves .texts{
    width: 50%;
    height: 100%;
}
.count .serves .texts h1{
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    text-align: center;

}
.count .serves .texts p{
    margin-top: 30px;
    font-size: 25px;
    text-align: center;
}
.count .serves .texts button{
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    cursor: pointer;
    margin: 50px auto;
    font-size: 30px;
    border-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
}
.count .serves .texts button:hover{
    border: 1px solid #000;

}
.count .serves .texts_info{
    width: 50%;
    height: 100%;
    margin: auto;
}
.count .serves .texts_info{
    background-image: url(https://oncloud.ru/uploads/c9/communication-1927697_1280.png);
    background-position: center;
    background-size: cover;
}
.count .serves .texts_info h2{
    width: 100%;
    height: 60px;
    background-color: rgb(253, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;

}